* {
  font-family: arial;
  background: black;
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
}

.headline {
  width: 100px;
  margin-left: 10px;
}

.words {
  flex: 1;
}

.word {
  padding: 20px;
  margin: 20px;
  font-size: 20px;
  text-align: center;
  border: 4px solid white;
  cursor: move;
}

.dropbox {
  flex: 1;
  height: auto;
  padding: 20px;
  margin: 20px;
  font-size: 20px;
  border: 4px solid white;
}

.hovered {
  border: 4px dashed white;
}
